<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projecteesa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectEESA">
        <activity android:name=".Posts.NumLikesActivity"></activity>
        <activity android:name=".AboutUs" />
        <activity android:name=".ProfileSection.UserProfileActivity" />
        <activity android:name=".Posts.CommentActivity" />
        <activity android:name=".ProfileSection.SavedPostsActivity" />
        <activity android:name=".Posts.CreatePostActivity" />
        <activity android:name=".ProfileSection.EditProfile" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".ProfileFeed" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
    </application>

</manifest>